%p
  =image_tag 'heriberto_perez.jpeg'
%h1
  Heriberto Perez
%h3
  Software Engineer
%br
  .row
    .span6
      %table.table.table-striped
        %tr
          %td
            %h6 Manager:
          %td
            %i.icon-user
            %a{:href => "#"} Emmanuel Delgado
        %tr
          %td
            %h6 Office Phone:
          %td
            %i.icon-home
            3121127812
        %tr
          %td
            %h6 Cell Phone:
          %td
            %i.icon-headphones
            3121127812
        %tr
          %td
            %h6 Email:
          %td
            %i.icon-envelope
            %a{:href => "mailto:"} heriberto.perez@crowdint.com
        %tr
          %td
            %h6 Twitter:
          %td
            %i.icon-retweet
            %a{:href => ""} @heridev
      .alert.alert-warning
        %h4.alert-heading Warning
        The phone numbers, email addresses, and Twitter handlers are fake.
