<%- JST['templates/employees/form'](type: 'Edit Employee') %>
%h2.title-header-style
  =link_to 'List of Employees', '#', id: 'complete-list'
%table#employee-list.table.table-striped
  %thead
    %tr
      %th Status
      %th First Name
      %th Last Name
      %th Work Email
      %th Action
  %tbody#employees
