%td <%= @employee.get('status') %>
%td <%= @employee.get('first_name') %>
%td <%= @employee.get('last_name') %>
%td <%= @employee.get('work_email') %>
%td
  %a#delete{ href: '#', class: 'btn btn-danger'} Delete
%td
  %a#edit{ href: '#employee/', class: 'btn btn-primary'} Edit
