<%- JST['templates/employees/form']() %>
%h2 List of Employees
%table.table.table-striped
  %thead
    %tr
      %th Status
      %th First Name
      %th Last Name
      %th Action
  %tbody#employees
