.title-header-style{
  background: -webkit-linear-gradient(top, #185675, #144E6D);
  a{
    color: white;
    margin-left: 5px;
  }
}

#container-app{
  margin: 0 auto;
  width: 800px;
}

.float-left{
  float: left;
  margin-right: 5px;
}

.float-right{
  float: right;
  margin-top: 14px;
  margin-right: 132px;
}
